node_modules/

.env
apps/*/.env

apps/*/build/
apps/*/dist/
apps/*/coverage/
apps/*/tmp/
apps/web/*.tsbuildinfo
apps/web/vite.config.d.ts
apps/web/vite.config.js
instrucoes_projeto_estudos_ia.pdf
.DS_Store
npm-debug.log*
